/* Remove after testing */
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}
/* -------------------- */

.untitled {
  width: 100%;
  float: left;
  
}

#home,
#about,
#news,
#takeaction {
  width: 100%;
  padding: 100px 20px;
  background: #fff;
}

#home,
#about,
#campaign{
  background: #B1D382;
}

#news1 {
  background: #F47920;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  box-shadow: #000000;
  top: 0;
  z-index: 500;
  padding: 15px 0 8px 0;
  background: #B1D382;
}

.branding {
  background: url("../images/TEG.svg") no-repeat;
  width:300px;
  height: 40px;
  float: left;
  display: block;
  text-indent: -999em;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  margin-left: 50px;
  margin-top: 10px;
}

nav {
  margin-top: 10px;
  float: right;
}
nav ul{
  list-style-type: none;
  text-align: right;
}
nav li{
  font-family: 'Montserrat',sans-serif;
  font-weight: 900;
  font-size:.8em;
  letter-spacing: .1em;
  text-transform: uppercase;
  display: inline-block;
  padding-left: 20px;
  cursor: pointer;
  color: #fff;
}
nav li a:link {
  color: #F47920;
  text-decoration: none;
}
nav li a:visited {
  color: #091c5a;
  text-decoration: none;
}
nav li a:hover {
  color: #F47920;
  text-decoration: none;
}
nav li a:active {
  color: #F47920;
  text-decoration: none;
}

.headroom {
  transition: transform 200ms linear;
}
.headroom--pinned{
  transform: translateY(0%);
}
.headroom--unpinned{
  transform: translateY(-100%);
}

.type-overlay h1 {
  font-weight:100;
  position: absolute;
  top: 250px;
  width: 100%;
  z-index: 5;
  text-align: center;
  color: rgba(0, 0, 0, .4);
}


/*
=================================
Parallax CSS SECTIONS
================================= */
section.module: last-child {
  margin-bottom: 10;
}

section.module: h2 {
  margin-bottom: 40px;
  font-family: "Merriweather", serif;
  font-size: 30px;
}

section.module: p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}

section.module: last-child {
  margin-bottom: 0;
}

section.module.content {
  padding: 100px 0;
  background: rgba(246, 92, 81, 1);
}

section.module3.content {
  padding: 100px 0;
  background-color: #fff;
}

section.module.parallax {
  height: 800px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.module.parallax h1 {
  margin-top: 0;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 800px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}

.title h1 {
  color: #ffffff;
}

.quote{
  font-size: 1em;
}

section.module.parallax-1 {
  background-image: url("../images/Elephants-at-water.jpg");
  background-color: #58595B;
}

section.module.parallax-2 {
  background-image: url("../images/gorilla-face-grass.jpg");
}

section.module.parallax-3 {
  background-image: url("../images/sumatran-tiger-hero.jpg");
}

@media all and (min-width: 600px) {
  section.moduel h2 {
    font-size: 42px;
    color: #fff;
  }
   section.moduel p {
    font-size: 20px;
  }
   section.moduel.parallax h1 {
    font-size: 96px;
  }
}

@media all and (min-width: 960px) {
  section.moduel.parallax h1 {
    font-size: 19px;
    color: #000000;
  }
}



.home{
  float: left;
  width: 100%;
  padding-bottom: 50px;
  text-align: center;
  color: #fff;
}


/* --Encounters-- */


.about {
  float: left;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 80px;
  text-align: center;
  background-color: #B1D382;
}

.about h2{
    padding-top: 50px;
    padding-bottom: 50px;
	color: #fff;
}

.ticket {
  width: 300px;
  height: 338px;
  text-align: center;
  padding: 30px 30px;
  margin-bottom: 20px;
  background: url("../images/ticket.svg") no-repeat;
}

.ticket-row {
  padding-bottom: 20px;
}

.ticket h4{
	color: #fff;
}

.icon {
  height: 40px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  transition: -webkit-transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
}

.icon:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg); 
}


/* --news-- */

/* -------- [ News Links ] -------- */
.news a:link {
	color: #B1D382;
	text-decoration: none;
	outline: 0;
}
.news a:visited {
	color: #B1D382;
	text-decoration: none;
	outline: 0;
}
.news a:hover {
	color: #B1D382;
	text-decoration: none;
}
.news a:active {
	color: #B1D382;
}


.news h2{
  width: 100%;
  padding-top: 0;
    padding-bottom: 50px;
  text-align: center;
	color: #fff;
}




.captionfull .boxcaption {
  top: 260px;
  left: 0;
}

.caption .boxcaption {
  top: 220px;
  left: 0;
}

.row {
  float: left;
  margin-top: 20px;
}

news li a:link {
  color: #F47920;
  text-decoration: none;
}
news li a:visited {
  color: #091c5a;
  text-decoration: none;
}
news li a:hover {
  color: #F47920;
  text-decoration: none;
}
news li a:active {
  color: #F47920;
  text-decoration: none;
}

/* --campaign-- */

.section-heads {
	text-align: center;
	margin-bottom: 0;
}

.section-text {
	text-align: center;
	margin-bottom: 20px;
}

.campaigns {
  padding-top: 0;
    padding-bottom: 10px;               
}

.campaigns h2{
  padding-top: 0;
    padding-bottom: 5px;
  text-align: center;
}


#canvas-holder {
  width: 70%;
}

/* -- take action --*/

/* ------- [ Contact Form ] ------- */

#contact-map {
  width: 100%;
  padding: 50px 0;
  float: left;
  text-align: center;
  background: #FF8900;
}

#contact-map h2 {
	margin-bottom: 50px;
}


.directions {
  text-align: left;
}
.contact-form {
  width: 460px;
  font-size: 0.9em;
  color: blue;	
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea,
.contact-form select {
  height: 35px;
  margin-bottom: 25px;
  padding: 5px 5px 5px 10px;
  width: 100%;
  font-size: 1.2em;
  line-height: 1.5;
  background: #E5E5E5;
  border: none;
	font-family: "Merriweather", serif;
}
input-placeholder {
   color: #F47920;
}
.contact-form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  width: 100%;
  height: 35px;
}
.contact-form textarea {
  height: 190px;
	
}
.city {
  text-transform: uppercase;
  font-weight: 900;
	font-family: 'Montserrat',sans-serif;
}
.button {
  display: inline-block;
  float: right;
}

.contact-form input.button {
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
  font-weight: 700;
  width: 125px;
  height: 30px;
 background-color: #B1D382;
  border: 1px solid #B1D382;
  color: #ffffff;
  font-size: 1em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 5px;
		margin-top: 10px
}
/***NOW STYLE THE BUTTON'S HOVER STATE***/


.contact-form input.button:hover {
  color: #B1D382;
	background-color: #000;
}


/* --footer-- */

footer {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  margin-top: 0;
  text-align: center;
}
  
footer a:link {
  color: #B1D382;
  text-decoration: none;
  outline: 0;
}

footer a:visited {
  color: #F7F7F7;
  text-decoration: none;
  outline: 0;
}

footer a:hover {
  color: #fff;
}

footer a:active {
  color: #ffffff;
}

#footer-nav h4 {
  font-size: .8em;
  color: #ffffff;
  padding: 10px 0;
}


.copyright {
  background-color: #FF8900;
  width: both;
  color: #fff;
  padding-bottom: 50px;
}
 
#footer-nav {
  overflow: hidden;
  clear: both;
  text-align: center;
  padding: 50px 0;
}

copyrght p {
  margin-bottom: 100px;
  padding: 0;
}

#footer-nav p {
  color: #ffffff;
  margin: 0;
}

.peddagogy-brand {
  width: 45px;
  height: 45px;
  margin: 0;
  padding: 0;
}